<div class="row">
    <div class="col-lg-9 px-5 py-4">
      <app-home-slider></app-home-slider>
    </div>
    <div class="col-lg-3">
      <h1 class="text-primary">Services</h1>
      <div class="row pe-3">
        <div class="col-lg-12 m-2">
          <div class="serviceCard d-flex shadow-lg radius-10 p-1">
            <div class="row w-100">
              <div class="col-lg-6 d-flex justify-content-center align-items-center col-6">
                <img width="200" class="d-flex justify-content-center img-fluid " src="assets/imgs/img1.png" />
              </div>
              <div class="col-lg-6 d-flex justify-content-start align-items-center col-6">
                <div class="text">
                  <h5 class="px-1 text-center">Free Delivery</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 m-2">
          <div class="serviceCard d-flex shadow-lg radius-10 p-1">
            <div class="row w-100">
              <div class="col-lg-6 d-flex justify-content-center align-items-center col-6">
                <img width="190" class="d-flex justify-content-center img-fluid " src="assets/imgs/img2.png" />
              </div>
              <div class="col-lg-6 d-flex justify-content-start align-items-center col-6">
                <div class="text">
                  <h5 class="px-1 text-center">Multi Platform</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 m-2">
          <div class="serviceCard d-flex shadow-lg radius-10 p-1">
            <div class="row w-100">
              <div class="col-lg-6 d-flex justify-content-center align-items-center col-6">
                <img width="120" class="d-flex justify-content-center img-fluid " src="assets/imgs/img3.png" />
              </div>
              <div class="col-lg-6 d-flex justify-content-start align-items-center col-6">
                <div class="text">
                  <h5 class="px-1 text-center">Online Payment</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- <div class="col-lg-6 my-3">
    <img [lazyLoad]="image1"  [defaultImage]="defaultImage" [errorImage]="errorImage" class="img-fluid" height="400" >
  </div>
  <div class="col-lg-6 my-3">
    <img [lazyLoad]="image2"  [defaultImage]="defaultImage" [errorImage]="errorImage" class="img-fluid" height="400" >
  </div>
  <div class="col-lg-6 my-3">
    <img [lazyLoad]="image3"  [defaultImage]="defaultImage" [errorImage]="errorImage" class="img-fluid" height="400" >
  </div>
  <div class="col-lg-6 my-3">
    <img [lazyLoad]="image4"  [defaultImage]="defaultImage" [errorImage]="errorImage" class="img-fluid" height="400" >
  </div>
  <div class="col-lg-6 my-3">
    <img [lazyLoad]="image5"  [defaultImage]="defaultImage" [errorImage]="errorImage" class="img-fluid" height="400" >
  </div>
  <div class="col-lg-6 my-3">
    <img [lazyLoad]="image6"  [defaultImage]="defaultImage" [errorImage]="errorImage" class="img-fluid" height="400" >
  </div>
  <div class="col-lg-6 my-3">
    <img [lazyLoad]="image7"  [defaultImage]="defaultImage" [errorImage]="errorImage" class="img-fluid" height="400" >
  </div> -->
</div>
<app-category></app-category>
