<div class="row px-2 my-5 py-2">
  <div class="col-lg-6">
    <div class="row px-2">
      <div class="col-3 d-flex justify-content-center">
        <div class="card" [ngStyle]="{background: 'linear-gradient(360deg, var(--color), rgb(241, 240, 240))'}" style="--color: {{ backCardColors[0] }}">
          <img src="assets/imgs/category/gm.png" id="i" width="100" alt="gentelMan">
            <div class="cardLayer" [ngStyle]="{background: 'var(--color)'}" style="--color: {{ backCardLayerColors[0] }}"></div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <div class="card" [ngStyle]="{background: 'linear-gradient(360deg, var(--color), rgb(241, 240, 240))'}" style="--color: {{ backCardColors[1] }}">
          <img src="assets/imgs/category/women.png" id="i" width="100" alt="women">
            <div class="cardLayer" [ngStyle]="{background: 'var(--color)'}" style="--color: {{ backCardLayerColors[1] }}"></div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <div class="card" [ngStyle]="{background: 'linear-gradient(360deg, var(--color), rgb(241, 240, 240))'}" style="--color: {{ backCardColors[2] }}">
          <img src="assets/imgs/category/shirt.png" id="i" width="100" alt="shirt">
            <div class="cardLayer" [ngStyle]="{background: 'var(--color)'}" style="--color: {{ backCardLayerColors[2] }}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
